article,footer,section {
	margin:0;
	padding:0;
	display:block;
	border:none;
	box-sizing:border-box;
	-moz-box-sizing:border-box
}

body {
	width:100%;
	font:400 100% 'Helvetica Neue',Helvetica,Arial,sans-serif;
	color:#38384d
}	
	
article {
	width:960px;
	margin:0 auto;
	padding:2em 1.5em;
	box-shadow:0 0 5px #ccc
}
	
article>footer {
	margin:2em 0 0;
	font-style:italic;
	text-align:right
}
	
h1, h2, h3 {
	margin:0;
	color:#000}

h1 {
	font-size:2em;
	text-align:center;
	margin-bottom:1em
}

h2 {
	font-size:1.6em;
	border-bottom:1px solid #676670;
	padding-bottom:.2em;
	margin-top:2em
}

h3 { 
	font-size:1.2em;
	color:#343347;
	margin-top:1em
}

p {
	margin:.6em 0;
	text-indent:1.5em;
	line-height:1.4em
}

img {
	display:inline-block;
	float:left;
	margin:.6em 1.2em 0 0;
	border:1px solid #000;
	border-radius:.4em
}

b, div, h4, i, span {
	background-color:red;
	color:#ff0
}
	
table {
	width:100%;
	margin:.6em 0;
	border-collapse:collapse
}
	
table tr {
	border-top:1px solid #cecece;line-height:2em}
	
table>thead>tr {
	border:none
}
	
td,th {
	text-align:left
}
